@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  margin: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@font-face {
  font-family: "PromptRegular";
  src: local("PromptRegular"),url("./assets/fonts/Prompt/Prompt-Regular.ttf") format("truetype");
}
